{{define "footer"}}
  <footer>
    <button type="button" onclick=" window.open('https://github.com/mdhender/fhcms/issues','_blank')">Report a bug</button>
    <button type="button" onclick="window.location.href='/logout';">Logout</button>
  </footer>
{{end}}