{{define "navbar"}}
<nav>
  <a href="/">Home</a>
  <a href="/games">Games</a>
  <a href="/profile">Profile</a>
  <a href="/about">About</a>
  <button type="button" onclick="window.location.href='/logout';">Logout</button>
</nav>
{{end}}