{{define "navbar"}}
  <nav>
    <button type="button" onclick="window.location.href='/';">Home</button>
    <button type="button" onclick="window.location.href='/games';">Games</button>
    <button type="button" onclick="window.location.href='/profile';">Profile</button>
    <button type="button" onclick="window.location.href='/about';">About</button>
    <button type="button" onclick=" window.open('https://farhorizons.dev','_blank')">Rule Book</button>
  </nav>
{{end}}