<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <title>{{ .Site.Title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <link rel="manifest" href="/static/site.webmanifest">
    <link rel="apple-touch-icon" href="/static/icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/daleri-mega.css">

    <meta name="theme-color" content="#fafafa">
</head>

<body>

<div id="top">
    <p id="skiplinks">Skip to: <a href="#content">content</a> | <a href="#sidebar">sidebar</a></p>
    <div id="sitetitle">
        <h1><a href="/">{{ .Site.Title }}</a></h1>
        <p>{{ .Site.Slug }}</p>
    </div>
    <hr class="clear" />
</div>

<div id="wrap">
    <div id="mainmenu">
        <dl class="nav">
            <dt>Main pages</dt>
            <dd><a href="/static/rules.html">Rules</a></dd>
            {{ if .User.IsAuthenticated }}
            <dd><a href="/turn/{{.Site.Turn}}">Last Turn Results</a></dd>
            <dd><a href="https://farhorizons.dev/sp{{.User.Species.Id}}-{{.User.Species.Key}}/index.html">Archives</a></dd>
            {{ end }}
        </dl>
        <dl class="nav">
            <dt>Community</dt>
            <dd><a href="https://groups.io/g/farhorizons/topics" target="_blank">Groups.io</a></dd>
            <dd><a href="https://playbymail.net/mybb/forumdisplay.php?fid=45" target="_blank">PlayByMail.net</a></dd>
            <dd><a href="https://discord.gg/UpExM6Bdr5" target="_blank">Discord #fhgeneral</a></dd>
        </dl>
        <dl class="nav">
            <dt>Lorem Ipsum</dt>
            <dd>Members</dd>
            <dd>Games</dd>
        </dl>
        <dl class="nav">
            <dt>Extras</dt>
            {{ if .User.IsAuthenticated }}
            <dd><a href="https://farhorizons.dev/map.beta/index.html" target="_blank">Cluster Viz (beta)</a></dd>
            {{ end }}
        </dl>
        <dl class="introduction">
            {{ if .User.IsAuthenticated }}
            <dt>Raven's Beta</dt>
            <dd>You are logged in as Species {{.User.Species.Id}} on Raven's 32-bit beta.</dd>
            <dd>The Galaxy Turn Number is {{ .DS.Galaxy.TurnNumber}}.</dd>
            <dd>The last posted turn results are for turn {{ .Site.Turn }}.</dd>
            {{ else }}
            <dt>Login</dt>
            <dd>
                <form action="/api/authenticate" method="post">
                    <table>
                        <tr><td align="right">Username&nbsp;</td><td><input type="text" name="username"></td></tr>
                        <tr><td align="right">Password&nbsp;</td><td><input type="password" name="password"></td></tr>
                        <tr><td>&nbsp;</td><td align="right"><input type="submit" value="Login"></td></tr>
                    </table>
                </form>
            </dd>
            {{ end }}
        </dl>
        <hr class="clear" />
    </div>

    <div id="content">
        <h2>Turn {{ .TurnNumber }} Orders -- {{ .Date }} </h2>
        {{ if .Orders }}
<code><pre>
{{ .Orders }}
</pre>
</code>
        {{ else }}
        <p>There are no orders for this turn.</p>
        {{ end }}

        <hr />

        <hr class="clear" />
    </div>

    <div id="sidebar">
        <h2>Turn 18</h2>
        <p>Orders for Turn 18 Orders are due Monday, September 13th by 7PM MDT.
            MDT is 6 hours behind London.</p>

        <div class="left">
            <h2>Left menu</h2>
            <ul class="sidemenu">
                <li>First page</li>
                <li>Second page</li>
                <li>Third page with subs
                    <ul>
                        <li>First subpage</li>
                        <li>Second subpage</li>
                    </ul>
                </li>
                <li>Fourth page</li>
            </ul>
        </div>

        <div class="right">
            <h2>Right menu</h2>
            <ul class="sidemenu">
                <li>Sixth page</li>
                <li>Seventh page</li>
                <li>Another page</li>
                <li>The last one</li>
            </ul>

            <h2>Sample links</h2>
            <ul>
                <li>Sample link 1</li>
                <li>Sample link 2</li>
                <li>Sample link 3</li>
                <li>Sample link 4</li>
            </ul>
        </div>
        <hr class="clear" />
    </div>
    <hr class="clear" />
</div>

<div id="footer">
    <div class="left">
        <p><a href="https://github.com/mdhender/fhapp">fhapp v{{ .Engine.Semver }}</a> &copy; {{ .Site.Copyright.Year }} {{ .Site.Copyright.Author }} | All times are MDT?</p>
    </div>
    <div class="right textright">
        {{ if .User.IsAuthenticated }}
        <p>Raven's Beta | Species {{ .User.Species.Id }} | <a href="/api/logout">Logout</a></p>
        {{ end }}
        <p class="hide"><a href="#top">Return to top</a></p>
    </div>
</div>

</body>
</html>
