<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <link rel="icon" href="/favicon.ico"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="theme-color" content="#000000"/>
  <link rel="apple-touch-icon" href="/logo192.png"/>
  <link rel="manifest" href="/manifest.json"/>
  <title>{{ .Site.Title }}</title>
</head>
<body>
<h1>Far Horizons</h1>
<nav>
  <a href="/">Home</a>
  <a href="/profile">Profile</a>
  <a href="/about">About</a>
  <button type="button" onclick="window.location.href='/logout';">Logout</button>
</nav>
<h2>List of Games</h2>
{{ if .Games }}
  <table border="2">
    <thead><tr><td> Game </td><td> # Players </td><td> # Species </td></tr></thead>
    <tbody>
    {{ range .Games }}
      <tr><td> <a href="/game/{{ .Id }}">{{ .Name }}</a> </td><td align="right"> {{ .PlayerCount }} </td><td align="right"> (todo) </td></tr>
    {{ end }}
    </tbody>
  </table>
{{ else }}
  <p>No active games.</p>
{{ end }}
</body>
</html>