{{define "content"}}
<h2>List of Games</h2>
{{ if .Games }}
  <table border="2">
    <thead><tr><td> Game </td><td> # Players </td><td> # Species </td></tr></thead>
    <tbody>
    {{ range .Games }}
      <tr><td> <a href="/game/{{ .Id }}">{{ .Name }}</a> </td><td align="right"> {{ .PlayerCount }} </td><td align="right"> (todo) </td></tr>
    {{ end }}
    </tbody>
  </table>
{{ else }}
  <p>No active games.</p>
{{ end }}
{{end}}