{{define "content"}}
  <h2>Welcome</h2>
  <p>Click on <a href="/games">Games</a> on the menu to view the list of current games.</p>

  <h2>To do</h2>
  <ul>
    <li>Profile should probably be renamed Account.</li>
  </ul>
{{end}}