{{define "content"}}
  <h2>Player Profile</h2>
  <table>
    <thead><tr><td>Name</td><td>Admin?</td><td>ID</td></tr></thead>
    <tbody>
    <tr><td>{{.Profile.UserName}}</td><td>{{.Profile.IsAdmin}}</td><td>{{.Profile.Id}}</td></tr>
    </tbody>
  </table>
{{end}}