<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>{{ .Site.Title }}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">

  <link rel="manifest" href="static/site.webmanifest">
  <link rel="apple-touch-icon" href="static/icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="static/css/normalize.css">
  <link rel="stylesheet" href="static/css/main.css">
  <link rel="stylesheet" href="static/css/daleri-mega.css">

  <meta name="theme-color" content="#fafafa">
</head>

<body>

<div id="top">
  <p id="skiplinks">Skip to: <a href="#content">content</a> | <a href="#sidebar">sidebar</a></p>
  <div id="sitetitle">
    <h1><a href="/">{{ .Site.Title }}</a></h1>
    <p>{{ .Site.Slug }}</p>
  </div>
  <hr class="clear" />
</div>

<div id="wrap">
  <div id="mainmenu">
    <dl class="nav">
      <dt>Main pages</dt>
      <dd><a href="/static/rules.html">Rules</a></dd>
      {{ if .User.IsAuthenticated }}
      <dd><a href="/turn/{{.Game.LastTurn}}/report">Turn {{.Game.LastTurn}} Results</a></dd>
      {{with .Player.Data}}<dd><a href="https://farhorizons.dev/{{.}}/index.html">Archives</a></dd>{{end}}
      {{ end }}
    </dl>
    <dl class="nav">
      <dt>Community</dt>
      <dd><a href="https://groups.io/g/farhorizons/topics" target="_blank">Groups.io</a></dd>
      <dd><a href="https://playbymail.net/mybb/forumdisplay.php?fid=45" target="_blank">PlayByMail.net</a></dd>
      <dd><a href="https://discord.gg/UpExM6Bdr5" target="_blank">Discord #fhgeneral</a></dd>
    </dl>
    <dl class="nav">
      <dt>Player</dt>
      {{if .User.IsAuthenticated}}
      <dd>Profile</dd>
      <dd>Games</dd>
      <dd><a href="/turn/{{.Game.Turn}}/upload">Upload Turn {{.Game.Turn}} Orders</a></dd>
      {{end}}
    </dl>
    <dl class="nav">
      <dt>Extras</dt>
      {{ if .User.IsAuthenticated }}
      <dd><a href="https://farhorizons.dev/map.beta/index.html" target="_blank">Cluster Viz (beta)</a></dd>
      {{ end }}
    </dl>
    <dl class="introduction">
      {{ if .User.IsAuthenticated }}
        <dt>{{.Game.Title}} :: Turn {{.Game.Turn}}</dt>
        <dd>You are logged in as Species {{.User.Species.Id}}.</dd>
        <dd>Orders for Turn {{.Game.Turn}} are due {{.Game.OrdersDue}}.</dd>
      {{ else }}
        <dt>Login</dt>
        <dd>
          <form action="/api/authenticate" method="post">
            <table>
              <tr><td align="right">Username&nbsp;</td><td><input type="text" name="username"></td></tr>
              <tr><td align="right">Password&nbsp;</td><td><input type="password" name="password"></td></tr>
              <tr><td>&nbsp;</td><td align="right"><input type="submit" value="Login"></td></tr>
            </table>
          </form>
        </dd>
      {{ end }}
    </dl>
    <hr class="clear" />
  </div>

  <div id="content">
    <h2>Far Horizons Landing Page</h2>
    <p class="introtext">
      The Landing Page is a work in progress.
      Please report bugs on the <a href="https://discord.gg/UpExM6Bdr5" target="_blank">Discord server</a>.
    </p>
    {{ if .User.IsAuthenticated }}
      {{ if .Files }}
        <table border="2">
          <thead><tr><td>&nbsp;Turn&nbsp;</td><td>&nbsp;Report</td><td>&nbsp;Orders&nbsp;</td><td>&nbsp;Combat&nbsp;</td><td>&nbsp;Date&nbsp;</td></tr></thead>
          <tbody>
          {{ range .Files }}
          <tr>
            <td align="right">&nbsp;{{.Turn}}&nbsp;</td>
            <td align="center">&nbsp;{{if .Report}}<a href="/turn/{{.Turn}}/report">report.txt</a>{{else}}n/a{{end}}&nbsp;</td>
            <td align="center">&nbsp;{{if .Orders}}<a href="/turn/{{.Turn}}/orders">orders.txt</a>{{else}}n/a{{end}}&nbsp;</td>
            <td align="center">&nbsp;{{if .Combat}}<a href="/turn/{{.Turn}}/combat">orders.txt</a>{{else}}n/a{{end}}&nbsp;</td>
            <td>&nbsp;{{.Date}}&nbsp;</td>
          </tr>
          {{ end }}
          </tbody>
        </table>
      {{ else }}
        <p>There are no reports or orders for this species.</p>
      {{ end }}
    {{ else }}
        <p>Please log in to access the system.</p>
    {{ end }}

    <hr />

    {{ with .Player }}
      {{ with .Species }}
        <div class="trio1">
          <h3>Colony Summary</h3>
          {{ with .Colonies }}
            <table border="2">
              <thead><tr><td>&nbsp;Colony&nbsp;</td><td>&nbsp;Coordinates&nbsp;</td><td>&nbsp;Shipyards&nbsp;</td><td>&nbsp;Inventory&nbsp;</td></tr></thead>
              <tbody>
              {{ range .ById }}
              <tr>
                <td valign="top">&nbsp;{{.Name.Display.Name}}&nbsp;</td>
                {{with .Planet.Location}}
                <td valign="top">&nbsp;{{.X}} {{.Y}} {{.Z}} #{{.Orbit}}&nbsp;</td>
                {{end}}
                <td valign="top" align="right">&nbsp;{{.Shipyards}}&nbsp;</td>
                <td valign="top" align="right">{{range .Inventory}}{{.Quantity}} {{.Code}}&nbsp;<br/>{{end}}</td>
              </tr>
              {{ end }}
              </tbody>
            </table>
          {{ else }}
            <p>The species has no colonies.</p>
          {{ end }}
        </div>

        <div class="trio2">
          {{ with .Fleet.Starbases }}
            <h3>Starbase Summary</h3>
              <table border="2">
                <thead><tr><td>&nbsp;Starbase&nbsp;</td><td>&nbsp;Location&nbsp;</td><td>&nbsp;Age&nbsp;</td><td>&nbsp;Tonnage&nbsp;</td><td>&nbsp;Inventory&nbsp;</td></tr></thead>
                <tbody>
                {{ range . }}
                  <tr>
                    <td valign="top">&nbsp;{{.Class.Code}} {{.Display.Name}}&nbsp;</td>
                    {{with .Location}}
                    <td valign="top">&nbsp;{{.X}} {{.Y}} {{.Z}} #{{.Orbit}}&nbsp;</td>
                    {{end}}
                    <td  valign="top"align="right">{{.Age}}&nbsp;</td>
                    <td  valign="top"align="right">{{.Display.Tonnage}}&nbsp;</td>
                    <td valign="top" align="right">{{range .Inventory}}{{.Quantity}} {{.Code}}&nbsp;<br/>{{end}}</td>
                  </tr>
                {{ end }}
                </tbody>
              </table>
            <br/>
          {{ end }}

          <h3>Warship Summary</h3>
          {{ with .Fleet.Warships }}
            <table border="2">
              <thead><tr><td>&nbsp;Warship&nbsp;</td><td>&nbsp;Location&nbsp;</td><td>&nbsp;Age&nbsp;</td><td>&nbsp;Tonnage&nbsp;</td><td>&nbsp;Inventory&nbsp;</td></tr></thead>
              <tbody>
              {{ range . }}
                <tr>
                  <td valign="top">&nbsp;{{.Display.Name}}&nbsp;</td>
                  {{with .Location}}
                  <td valign="top">&nbsp;{{.X}} {{.Y}} {{.Z}} #{{.Orbit}}&nbsp;</td>
                  {{end}}
                  <td  valign="top"align="right">{{.Age}}&nbsp;</td>
                  <td  valign="top"align="right">{{.Display.Tonnage}}&nbsp;</td>
                  <td valign="top" align="right">{{range .Inventory}}{{.Quantity}} {{.Code}}&nbsp;<br/>{{end}}</td>
                </tr>
              {{ end }}
              </tbody>
            </table>
          {{ else }}
            <p>The species has no warships.</p>
          {{ end }}
        </div>

        <div class="trio3">
          <h3>Transport Summary</h3>
          {{ with .Fleet.Transports }}
            <table border="2">
              <thead><tr><td>&nbsp;Transport&nbsp;</td><td>&nbsp;Location&nbsp;</td><td>&nbsp;Age&nbsp;</td><td>&nbsp;Tonnage&nbsp;</td><td>&nbsp;Inventory&nbsp;</td></tr></thead>
              <tbody>
              {{ range . }}
              <tr>
                <td valign="top">&nbsp;{{.Display.Name}}&nbsp;</td>
                {{with .Location}}
                <td valign="top">&nbsp;{{.X}} {{.Y}} {{.Z}} #{{.Orbit}}&nbsp;</td>
                {{end}}
                <td valign="top" align="right">{{.Age}}&nbsp;</td>
                <td valign="top" align="right">{{.Display.Tonnage}}&nbsp;</td>
                <td valign="top" align="right">{{range .Inventory}}{{.Quantity}} {{.Code}}&nbsp;<br/>{{end}}</td>
              </tr>
              {{ end }}
              </tbody>
            </table>
          {{ else }}
            <p>The species has no transports.</p>
          {{ end }}
        </div>
      {{ end }}
    {{ end }}
    <hr class="clear" />
  </div>

  <div id="sidebar">
    {{with .User.Species}}
    <h2>{{ .Id }} {{ .Name }}</h2>
    <p>{{ .Government.Name }}</p>
    <hr />
    {{end}}

    <div class="left">
      {{with .User.Species}}
        <h2>Technology</h2>
        <table>
          <tbody>
          <tr><td align="right">{{.MI.Code}}:&nbsp;</td><td align="right">{{.MI.Level}}&nbsp;</td><td>/</td><td align="right">&nbsp;{{.MI.KnowledgeLevel}}</td><td align="right">{{with .MI.ExperiencePoints}}&nbsp;({{.}} xp){{end}}</td></tr>
          <tr><td align="right">{{.MA.Code}}:&nbsp;</td><td align="right">{{.MA.Level}}&nbsp;</td><td>/</td><td align="right">&nbsp;{{.MA.KnowledgeLevel}}</td><td align="right">{{with .MA.ExperiencePoints}}&nbsp;({{.}} xp){{end}}</td></tr>
          <tr><td align="right">{{.ML.Code}}:&nbsp;</td><td align="right">{{.ML.Level}}&nbsp;</td><td>/</td><td align="right">&nbsp;{{.ML.KnowledgeLevel}}</td><td align="right">{{with .ML.ExperiencePoints}}&nbsp;({{.}} xp){{end}}</td></tr>
          <tr><td align="right">{{.GV.Code}}:&nbsp;</td><td align="right">{{.GV.Level}}&nbsp;</td><td>/</td><td align="right">&nbsp;{{.GV.KnowledgeLevel}}</td><td align="right">{{with .GV.ExperiencePoints}}&nbsp;({{.}} xp){{end}}</td></tr>
          <tr><td align="right">{{.LS.Code}}:&nbsp;</td><td align="right">{{.LS.Level}}&nbsp;</td><td>/</td><td align="right">&nbsp;{{.LS.KnowledgeLevel}}</td><td align="right">{{with .LS.ExperiencePoints}}&nbsp;({{.}} xp){{end}}</td></tr>
          <tr><td align="right">{{.BI.Code}}:&nbsp;</td><td align="right">{{.BI.Level}}&nbsp;</td><td>/</td><td align="right">&nbsp;{{.BI.KnowledgeLevel}}</td><td align="right">{{with .BI.ExperiencePoints}}&nbsp;({{.}} xp){{end}}</td></tr>
          </tbody>
        </table>
      {{ end }}

      {{ with .Stats }}
      <h2>Statistics</h2>
      <table>
        <tbody>
        <tr><td align="right">Production:&nbsp;</td><td align="right">{{ .Production }}</td><td>&nbsp;EU</td></tr>
        <tr><td align="right">Banked:&nbsp;</td><td align="right">{{ .BankedEu }}</td><td>&nbsp;EU</td></tr>
        <tr><td align="right">Colonies:&nbsp;</td><td align="right">{{ .Colonies }}</td></tr>
        <tr><td align="right">Ships:&nbsp;</td><td align="right">{{ .Ships }}</td></tr>
        <tr><td align="right">Shipyards:&nbsp;</td><td align="right">{{ .Shipyards }}</td></tr>
        <tr><td align="right">Offensive Power:&nbsp;</td><td align="right">{{ .OffensivePower }}</td></tr>
        <tr><td align="right">Defensive Power:&nbsp;</td><td align="right">{{ .DefensivePower }}</td></tr>
        </tbody>
      </table>
      {{ end }}

      {{ with .Species }}
      <h2>Species</h2>
      <table>
        <tbody>
        {{range .}}
        <tr><td align="right">{{.Name}}&nbsp;</td><td align="left">&nbsp;{{.Status}}</td></tr>
        {{end}}
        </tbody>
      </table>
      {{ end }}

    </div>

    <div class="right">
      <h2>Colonies</h2>
      <ul class="sidemenu">
        <li>Sixth page</li>
        <li>Seventh page</li>
        <li>Another page</li>
        <li>The last one</li>
      </ul>

      <h2>Ships</h2>
      <ul>
        <li>Sample link 1</li>
        <li>Sample link 2</li>
        <li>Sample link 3</li>
        <li>Sample link 4</li>
      </ul>
    </div>
    <hr class="clear" />
  </div>
  <hr class="clear" />
</div>

<div id="footer">
  <div class="left">
    <p><a href="https://github.com/mdhender/fhapp">fhapp v{{ .Semver }}</a> &copy; {{ .Site.Copyright.Year }} {{ .Site.Copyright.Author }} | All times are MDT?</p>
  </div>
  <div class="right textright">
    {{ if .User.IsAuthenticated }}
    <p>{{.Game.Title}} | Species {{ .User.Species.Id }} | <a href="/api/logout">Logout</a></p>
    {{ end }}
    <p class="hide"><a href="#top">Return to top</a></p>
  </div>
</div>

</body>
</html>
